/* RESET SEDIKIT */
.navbar * {
  box-sizing: border-box;
}

/* WRAPPER NAVBAR */
.navbar {
  position: fixed; /* nempel atas */
  top: 0;
  left: 50%;
  width: 100%;
  z-index: 1000;
  background-color: #f5f5f5;
  transform: translateX(-50%);
justify-items: center;
}


/* LOGO */
.navbar-logo {
  font-size: 20px;
  font-weight: bold;
}

/* MENU */
.navbar-menu {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* LINK */
.navbar-menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 6px 8px;
  transition: color 0.2s ease, border-bottom 0.2s ease;
}

/* HOVER EFFECT */
.navbar-menu a:hover {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}
